// 后台管理业务scss
// 角色
.role-page{
    &.role-detail{
       ul.block{
           li{
               .el-input{
                   width: 240px;
               }
           }
       }
       .el-radio-group{
           margin-left: 160px;
           display: flex;
           flex-wrap:wrap; 
           .el-radio {
               width: 120px;
               margin-left: 0px;
               margin-right: 40px;
               margin-bottom: 20px;
           }
       }
       .block{
            max-height: 400px!important;
       }
   } 
}

// 资源管理
.permission-page,.role-page{
    .section{
        .block{
            max-height: 600px;
            overflow-y: auto;
            .el-tree{
                background: transparent;
                width: 100%;
                .el-tree-node{
                    margin-bottom: 10px;
                    .el-tree-node__label{
                        margin-left: 10px;
                    }
                }
                .custom-tree-node {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    padding-right: 8px;
                }
            }
        }
        ul.block{
            li{
                .el-input{
                    width: 240px;
                }
                >span{
                    display: inline-block;
                    width: 150px;
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }
    }
}
//修改源码样式>公用
.common_main{
    .el-checkbox__inner:hover,
    .el-checkbox__input.is-focus .el-checkbox__inner,{
        border-color: #dcdfe6;
    }
    .el-button--success, .el-button--primary,
    .el-radio__input.is-checked .el-radio__inner,
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner{
        background-color: #00B660;
        border-color:#00B660;
        &:hover{
            opacity: .7;
        }
    }
    
    .el-radio__input.is-disabled .el-radio__inner, .el-radio__input.is-disabled.is-checked .el-radio__inner {
        background-color: #f5f7fa;
        border-color: #e4e7ed;
    }
    .el-button--text{
        // color: #00B660
    }
    .el-form-item.is-success .el-input__inner, 
    .el-form-item.is-success .el-input__inner:focus, 
    .el-form-item.is-success .el-textarea__inner, 
    .el-form-item.is-success .el-textarea__inner:focus,
    .el-cascader .el-input.is-focus .el-input__inner{
        border-color: #00B660;
    }
    .el-button--default:hover{
        background-color: #fff;
        color: #606266;
        border-color: #dcdfe6;
        opacity: .7;
    }
    .el-input-group__append button.el-button:hover{
        border-color: transparent;
        background-color: transparent;
    }
    .el-pager li.active, 
    .el-pager li:hover,
    .el-pagination .btn-next :hover,.el-breadcrumb__inner.is-link:hover,
    .el-tabs__item.is-active,
    .el-tabs__item:hover,
    .el-radio__input.is-checked+.el-radio__label,
    .el-button--text,
    .el-cascader-menu__item.is-active,
    .el-checkbox__input.is-checked+.el-checkbox__label,
    .el-select .el-input .el-select__caret{
        color: #00B660
    }
    .el-radio__input.is-disabled+span.el-radio__label{
        color: #c0c4cc;
    }
    .el-tabs__active-bar{
        background-color: #00B660;
    }
    .el-select .el-input.is-focus .el-input__inner,
    .el-select .el-input.is-focus .el-input__inner:hover,
    .el-input--mini .el-input__inner:hover,
    .el-pagination__jump .el-input__inner:focus,
    .el-input__inner:focus{
        border-color: #00B660;
    }
    .personal_center .el-dialog__body .el-form-item__label,
    .personal_center .el-form-item .el-form-item__label{
        width: 230px !important;
    }
    .personal_center .el-form-item{
        overflow: hidden;
    }
    .personal_center .el-dialog__body .el-form-item .el-form-item__content  {
        width: 70%;
        margin-left:0px !important;
        float:left;
    }
    .el-breadcrumb > span:last-child > .el-breadcrumb__inner{
        color: #00B660;
    }
    .el-breadcrumb__separator{
        color: #666666;
    }
    .qutside_f_btn{
        width:100% !important;
        text-align:center;
        margin-top:15%;
        padding:0px 30px;
        .el-form-item__content{
            margin-left: 0px !important;
        }
    }
    .addTriak_house_name.el-form--label-left .el-form-item__label{
        text-align: right !important;
    }
    .add_el_row .el-form-item__label{
        text-align: left;
        width: auto !important;
    }
    .addTriak_house_name .el-input__inner{
        width: 230px;
    }
    .add_el_row .el-input__inner, .add_multiple_check_all .el-input__inner{
        width: 100%;
    }
    .add_sale_mode .el-form-item .el-form-item__label{
        text-align: left !important;
    }
    .add_sale_mode .el-input__inner{
        width: 100%;
    }
    .add_sale_mode .el-form-item{
        width: auto !important;
    }
}
body{
    .el-select-dropdown__item.selected,
    .el-select-dropdown.is-multiple .el-select-dropdown__item.selected,
    .el-cascader-menu__item.is-active{
        color: #00B660
    }
    .el-button--default:hover{
        background-color: #fff;
        color: #606266;
        border-color: #dcdfe6;
    }
    .el-button--primary,
    .el-button--primary:hover,
    .el-message-box__btns button:nth-child(2){
        background-color: #00B660;
        border-color: #00B660;
        color: #fff;
    }
}