// 客服css
// 房源核实，
.upload-house{
    .appointmentLookTime_div{
        display: inline-block;
        width: 760px;
        background: #F7F7F7;
        padding: 20px;
        ul.header{
            li{
                width: 14.28%;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}
.el-table th>.cell {
    line-height: 40px;
}
